APP_ENV=testing
APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=
DB_DATABASE=examguard_test
DB_USERNAME=examguard
DB_PASSWORD=secret

SESSION_DRIVER=cookie
SESSION_DOMAIN=

SANCTUM_STATEFUL_DOMAINS=

QUEUE_CONNECTION=sync
CACHE_STORE=array
