*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production
!.env*.example

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor

# Node
/node_modules

# IDE
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.cursor
/.codex
.phpactor.json

# Testing
.phpunit.result.cache

# Composer
/auth.json

# Laravel helper
_ide_helper.php

# OS / Homestead
Homestead.json
Homestead.yaml